/* ----- General CSS ----- */
body {
	margin: 0;
	padding: 0;
	font-family: helvetica, verdana, arial, sans-serif;
	top: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #6599FF;
}

header, nav, footer, main {
	margin: 0 auto;
	width: 70%;
}

.title, .subtitle {
	color: #6599FF;
	

}

.title {
	width: 50%;
	font-size: 3em;
	margin: 0;
}

.subtitle {
	font-style: italic
}

/* ----- Wrappers ----- */
#hwrapper, #fwrapper {
 	background: #eee;
 	padding: 10px 0px 10px 0px;
}

#cwrapper {
	background: #fff;
}

/* Header */
header {
	
}

/* ----- Navigation ----- */
#main-nav {
	text-decoration: none;
	font-size: 2em;
	padding-right: 10px;
}

#social-nav {
	width: 425px;
	float: right;
}

#social-nav img {
	width: 30px;
	height: 30px;
	margin-left: 10px;
}

#foot-nav {
	text-decoration: none;
	padding-right: 30px;
}

/* ----- Main Content ----- */
main {
	min-height: 600px;
}

/* ----- Footer ----- */
footer {
	text-align: center;
	font-size: .8em;
}

footer span {
	color: #fff;
}

/* ----- CSS Media Queries ----- */
@media (max-width: 500){
	
}